%div.ofu-field
  - opts = { class: "ofu-input", data: { "files-container" => ".ofu-files-container"} }.merge(options)
  = form.file_field attachment, opts
  = form.hidden_field "#{attachment}_uploaded_file_id"
  .ofu-files-container
