/*
*= require jquery.fileupload
*= require jquery.fileupload-ui
*/

.ofu-progress-bar .bar {
  background-color: #51a351;
  height: 20px;
  color: white;
  text-align: center;
}

.ofu-files-container {
  width: 225px;
}
